extends layout
block content
  +panel-default("New person:")
    form(method='POST')
      +input-simple("text",{name: 'firstname',placeholder: 'First name'})
      +input-simple("text",{name: 'lastname',placeholder: 'Last name'})
      +submit()
